<div class="alert alert-danger my-2">
	<h1>Error: {{message}}</h1>
</div>
<div class="card bg-light text-muted">
	<h2 class="card-header card-title">{{error.status}}: Stack Trace</h2>
	<pre class="card-body card-text">{{error.stack}}</pre>
</div>
